ul li span {
  margin-right: 10px;
  margin-top: auto;
}

.jumbotron img {
  width: 300px;
  height: 325px;
  background-image: url(img/Dual_blob.png);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  min-height: 450px;
}

hr {
  margin: auto;
  top: auto;
  width: 50%;
  border-top: 3px solid #393737;
}
.sosial-link a img {
  max-width: 45px;
  max-height: 45px;
}

/* flexbox */
.flexbox {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
}

@media (min-width: 400px) {
  .flexbox {
    flex-flow: row wrap;
  }
}

@media (min-width: 576px) {
  .flexbox {
    flex-flow: row wrap;
  }
}

@media (min-width: 768px) {
  .flexbox {
    flex-flow: row nowrap;
  }
}
